aside {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}

button {
  margin-top: 2em;
  font-size: 2em;
  color: white;
  background-color: #141527;
  border: none;
}

button:focus {
  background-color: orange;
}