.news-container {
  width: 80%;
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}